.header{
    grid-area: h;
    display: flex;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
    background: #3A3B3C;
    box-sizing: border-box;
    padding: 10px 10px;
}
.logo{
    width: 50px;
    height: 50px;
}
.logoTitle{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: white;
}